#dictionary

In [1]:
#indexed
#ordered
#duplicate and multipal data
#mutable

In [2]:
 #d={<key>:<value>,<key>:<value>}

In [4]:
d={'a':"apple",'b':"ball",'c':"cat"}
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [5]:
print(d['b'])

ball

In [7]:
d={'a':"apple",'b':"ball",'c':"cat",'A':'Apple'}
print(d)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'A': 'Apple'}

In [9]:
d={'a':"apple",'b':"ball",'c':"cat",'a':"ant"}
print(d)

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [11]:
#a=dict()      #we can indiccate dictionary with this as well or

a={}
a['a']="apple"
a['b']="ball"
print(a)

{'a': 'apple', 'b': 'ball'}

In [13]:
#{'ram':1234,'shyam':5678}

info={}
n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    phone=int(input("enter phone = "))
    info[name]=phone
    
print(info)

enter n = 2
enter name = ram
enter phone = 1234
enter name = shyam
enter phone = 5678
{'ram': 1234, 'shyam': 5678}

In [15]:
a={'ram':1234,'shyam':5678}
for i in a:
    print(i)

ram
shyam

In [17]:
a={'ram':1234,'shyam':5678}
for i in a.values():
    print(i)

1234
5678

In [18]:
a={'ram':1234,'shyam':5678}
for i in a.items():
    print(i)

('ram', 1234)
('shyam', 5678)

In [19]:
a={'ram':1234,'shyam':5678}
a['ram']=87654
print(a)

{'ram': 87654, 'shyam': 5678}

In [20]:
a={'ram':1234,'shyam':5678}
del a['ram']
print(a)

{'shyam': 5678}

In [21]:
a={'ram':1234,'shyam':5678}
a.pop('ram')
print(a)

{'shyam': 5678}

In [22]:
a={'ram':1234,'shyam':5678}
b={'hari':55544}
a.update(b)
print(a)

{'ram': 1234, 'shyam': 5678, 'hari': 55544}

In [23]:
a={'ram':[1234,998877],
   'shyam':[5678,887744]}
print(a)

{'ram': [1234, 998877], 'shyam': [5678, 887744]}

In [24]:
a['ram']

[1234, 998877]

In [25]:
a['shyam']

[5678, 887744]

In [26]:
a['hari']=[333222,555666]
print(a)

{'ram': [1234, 998877], 'shyam': [5678, 887744], 'hari': [333222, 555666]}

In [27]:
a['hari'][0]=996633
print(a)

{'ram': [1234, 998877], 'shyam': [5678, 887744], 'hari': [996633, 555666]}

In [29]:
 del a['hari'][0]
print(a)

{'ram': [1234, 998877], 'shyam': [5678, 887744], 'hari': [555666]}

In [3]:
info={}

n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    ntc_phone=int(input("enter ntc phone = "))
    ncell_phone=int(input("enter ncell phone = "))
    info[name]=[ntc_phone,ncell_phone]
    
print(info)

enter n = 2
enter name = hari
enter ntc phone = 666666
enter ncell phone = 555555
enter name = bharat
enter ntc phone = 9808009260
enter ncell phone = 999999
{'hari': [666666, 555555], 'bharat': [9808009260, 999999]}

In [37]:
a={"name":["ram","shyam"],
   "age":[23,24],
   "address":["kathmandu","lalitpur"]}

In [6]:
info=={"name":[],"age":[],"address":[]}
n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    age=input("enter age = ")
    address=input("enter address = ")
    
    info['name']=a.append(name)
    info['age']=a.append(age)
    info['address']=a.append(adress)
    
print(info)

enter n = 2
enter name = hari
enter age = 22
enter address = jhapa

NameError: name 'a' is not defined

In [8]:
a={"name":["ram","shyam"],
   "age":[23,24],
   "address":["kathmandu","lalitpur"]}
name=input("enter name = ")

index=a["name"].index(name)

del a["name"][index]
del a["age"][index]
del a["address"][index]
print(a)

enter name = ram
{'name': ['shyam'], 'age': [24], 'address': ['lalitpur']}

In [9]:
a={"name":["ram","shyam"],
   "age":[23,24],
   "address":["kathmandu","lalitpur"]}
name=input("enter name = ")

index=a["name"].index(name)

a["name"][index].update
a["age"][index].update
a["address"][index].update
print(a)

enter name = bharat

ValueError: 'bharat' is not in list

In [10]:
#dict inside dic

a={1:{"name":"ram","age":34,"adress":"kathmandu"},
  2: {"name":"shyam","age":22,"adress":"lalitpur"},
  3: {"name":"hari","age":55,"adress":"bhaktaput"}}

In [13]:
a[4]={"name":"sita","age":16,"adress":"jhapa"}        #for update
print(a)

{1: {'name': 'ram', 'age': 34, 'adress': 'kathmandu'}, 2: {'name': 'shyam', 'age': 22, 'adress': 'lalitpur'}, 3: {'name': 'hari', 'age': 55, 'adress': 'bhaktaput'}, 4: {'name': 'sita', 'age': 16, 'adress': 'jhapa'}}

In [14]:
a[1]={"name":"bharat","age":35,"adress":"morang"}
print(a)

{1: {'name': 'bharat', 'age': 35, 'adress': 'morang'}, 2: {'name': 'shyam', 'age': 22, 'adress': 'lalitpur'}, 3: {'name': 'hari', 'age': 55, 'adress': 'bhaktaput'}, 4: {'name': 'sita', 'age': 16, 'adress': 'jhapa'}}

In [16]:
a[1]["name"]="selina"
print(a)

{1: {'name': 'selina', 'age': 35, 'adress': 'morang'}, 2: {'name': 'shyam', 'age': 22, 'adress': 'lalitpur'}, 3: {'name': 'hari', 'age': 55, 'adress': 'bhaktaput'}, 4: {'name': 'sita', 'age': 16, 'adress': 'jhapa'}}

In [ ]:
#