In [1]:
info={}                                     #dictionary
n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    phone=int(input("enter phone = "))
    info[name]=phone
    
print(info)

enter n = 2
enter name = bharat
enter phone = 6666
enter name = alin
enter phone = 55555
{'bharat': 6666, 'alin': 55555}

In [2]:
info={}

n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    ntc_phone=int(input("enter ntc phone = "))
    ncell_phone=int(input("enter ncell phone = "))
    info[name]=[ntc_phone,ncell_phone]
    
print(info)

enter n = 2
enter name = bharat
enter ntc phone = 66666
enter ncell phone = 55555
enter name = alin
enter ntc phone = 44444
enter ncell phone = 77777
{'bharat': [66666, 55555], 'alin': [44444, 77777]}

In [3]:
info={}

n=int(input("enter n = "))
for i in range(n):
    name=input("enter name = ")
    ntc_phone=int(input("enter ntc phone = "))
    ncell_phone=int(input("enter ncell phone = "))
    info[name]=[ntc_phone,ncell_phone]
    
print(info)

enter n = 1
enter name = bharat
enter ntc phone = 6666
enter ncell phone = 4444
{'bharat': [6666, 4444]}

In [1]:
l = []           #list
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    l = l +[x]
    
print(l)

Enter n = 1
Enter name = bharat
['bharat']

In [2]:
type(x)

str

In [3]:
type(l)

list

In [4]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    l = l *[x]
    
print(l)

Enter n = 2
Enter name = bharat

TypeError: can't multiply sequence by non-int of type 'list'

In [5]:
l = []
a=['bharat','ram','shyam']
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    a= a *[x]
    
print(a)

Enter n = 2
Enter name = bharat

TypeError: can't multiply sequence by non-int of type 'list'

In [6]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter name = ")
    l.append(x)
    
    print(l)

Enter n = 2
Enter name = bharat
['bharat']
Enter name = alin
['bharat', 'alin']

In [7]:
type(n)

int

In [8]:
type(l)

list