In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [7]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [8]:
for i in range(0,5,2):
    print(i,"hello world")

0 hello world
2 hello world
4 hello world

In [10]:
n=int(input("enter n= "))
for i in range(1,11):
    print(n*i)

enter n= 5
5
10
15
20
25
30
35
40
45
50

In [11]:
n=int(input("enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

enter n = 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [17]:
n=int(input("enter n = "))
for i in range(1,10):
    print(n,"*",i,"=",n*i)

enter n = 10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90

In [20]:
a=int(input("enter a = "))
for i in range(5,50):
    print(a,"/",i,"=",a/i)

enter a = 50
50 / 5 = 10.0
50 / 6 = 8.333333333333334
50 / 7 = 7.142857142857143
50 / 8 = 6.25
50 / 9 = 5.555555555555555
50 / 10 = 5.0
50 / 11 = 4.545454545454546
50 / 12 = 4.166666666666667
50 / 13 = 3.8461538461538463
50 / 14 = 3.5714285714285716
50 / 15 = 3.3333333333333335
50 / 16 = 3.125
50 / 17 = 2.9411764705882355
50 / 18 = 2.7777777777777777
50 / 19 = 2.6315789473684212
50 / 20 = 2.5
50 / 21 = 2.380952380952381
50 / 22 = 2.272727272727273
50 / 23 = 2.1739130434782608
50 / 24 = 2.0833333333333335
50 / 25 = 2.0
50 / 26 = 1.9230769230769231
50 / 27 = 1.8518518518518519
50 / 28 = 1.7857142857142858
50 / 29 = 1.7241379310344827
50 / 30 = 1.6666666666666667
50 / 31 = 1.6129032258064515
50 / 32 = 1.5625
50 / 33 = 1.5151515151515151
50 / 34 = 1.4705882352941178
50 / 35 = 1.4285714285714286
50 / 36 = 1.3888888888888888
50 / 37 = 1.3513513513513513
50 / 38 = 1.3157894736842106
50 / 39 = 1.2820512820512822
50 / 40 = 1.25
50 / 41 = 1.2195121951219512
50 / 42 = 1.1904761904761905
50 / 43 = 1.1627906976744187
50 / 44 = 1.1363636363636365
50 / 45 = 1.1111111111111112
50 / 46 = 1.0869565217391304
50 / 47 = 1.0638297872340425
50 / 48 = 1.0416666666666667
50 / 49 = 1.0204081632653061

In [21]:
a=int(input("enter a = "))
for i in range(5,50):
    print(a,"-",i,"=",a-i)

enter a = 50
50 - 5 = 45
50 - 6 = 44
50 - 7 = 43
50 - 8 = 42
50 - 9 = 41
50 - 10 = 40
50 - 11 = 39
50 - 12 = 38
50 - 13 = 37
50 - 14 = 36
50 - 15 = 35
50 - 16 = 34
50 - 17 = 33
50 - 18 = 32
50 - 19 = 31
50 - 20 = 30
50 - 21 = 29
50 - 22 = 28
50 - 23 = 27
50 - 24 = 26
50 - 25 = 25
50 - 26 = 24
50 - 27 = 23
50 - 28 = 22
50 - 29 = 21
50 - 30 = 20
50 - 31 = 19
50 - 32 = 18
50 - 33 = 17
50 - 34 = 16
50 - 35 = 15
50 - 36 = 14
50 - 37 = 13
50 - 38 = 12
50 - 39 = 11
50 - 40 = 10
50 - 41 = 9
50 - 42 = 8
50 - 43 = 7
50 - 44 = 6
50 - 45 = 5
50 - 46 = 4
50 - 47 = 3
50 - 48 = 2
50 - 49 = 1

In [23]:
s=0
a=int(input("enter a = "))
for i in range(a):
    s=s+a
    print(s)

enter a = 5
5
10
15
20
25

s=str()
n=int(input("enter n = "))
for i in range(n):
   
    s=s+n
print(s)

In [25]:
s=str()
n=int(input("enter n= "))
for i in range(n):
    x=input("enter x = ")
    s=s+x
print(s)

enter n= 2
enter x = hello
enter x = world
helloworld

In [30]:
s=float()
a=int(input("enter a = "))
for i in range(a)
    s=(int("enter s = "))

    s=s+a
print(s)

SyntaxError: invalid syntax (Temp/ipykernel_3612/493843991.py, line 3)

In [39]:
s=str()
n=int(input("enter n = "))
for i in range (n):
        name=input("enter name = ")
        s= s+name+"\n"
    print(s)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [15]:
s=str()
y=int(input("enter y= "))
for i in range(y):
        name=input("enter name = ")
        s=s+name+"\y"
 print(s)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)